@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
    background-color: rgb(226, 226, 226);
}
header{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    width: 1440px;
}
span{
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: 500;
    color: blue;
}
footer{
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(62, 62, 245);
}
.container{
    display:flex ;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search__area{
    width: 190px;
    height: 40px;
    border: 1px solid blue;
    border-radius: 6px;
    margin-right: 20px;
}
.search__div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    background-color: white;
}
.flag__div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    margin-right: 20px;
    background-color: white;
}
.header__button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 9px;
    border-radius: 7px;
    background-color: white;
}
.header__text{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 280px;
    background-color: white;
}
.header__text h2{
    font-family:'Rubik' ;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: blue;
}
/* <HERO> */

.hero{
    width: 1440px;
    box-sizing: border-box;
    padding: 6px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.nav__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.list-item__link{
    font-family:'Rubik';
    font-weight: 400;
    text-decoration: none;
    color: black;
}


/* <SALE> */
.sale{
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    width: 1440px;
}
.sale__header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    
}
.ban{
    border-radius: 50px;
}
.sale-header__card{
    display: flex;
    align-items: center;
    width: 360px;
    border: 1px solid transparent;
}
.sale-header__card:not(:first-child){
    border-left:3px solid rgb(228, 12, 12);
    padding-left: 10px ;
}
.sale-header__card h2{
    margin-left: 20px;
}
.corona{
    display: flex;
    align-items: center;
    width: 380px;
}
.sogayganlar{
    display: flex;
    align-items: center;
    width: 340px;
}
.sale__main{
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    margin-top: 40px;
}
.sale__main h2{
    font-family: 'Rubik';
    font-weight: 400;
    
}
.sale__main :not(:first-child){
    margin-left: 10px;
}
.main-card__wrapper img{
    margin-right: 5px;
}
.sale-main__card{
    margin-bottom: 20px;
    width: 470px;
}
.marketing-site{
    box-sizing: border-box;
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    padding: 20px;
}
.marketing__news{
    width: 1400px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(239, 203, 143);
}
.marketing__news img{
    margin-left: 20px;
    margin-right: 20px;
}
.news__button{
    font-family: 'Rubik';
    margin-left: 300px;
    padding: 20px;
    padding-right: 50px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    background-color: orange;
}
.recent-news{
    display: flex;
}
.recent-cards{
    display: flex;
    box-sizing: border-box;
    width: 1000px;
}
.recent-card{
    display: flex;
    margin-bottom: 30px;
    width: 1000px;
}
.recent-card h2{
    font-family: 'Rubik';
    font-weight: 400;
}
.recent-card img{
    margin-right: 3px;
    margin-left: 10px;
    border-radius: 10px;
}
.recent-card p{
    color: grey;
}
.recent-card__wrapper h2{
    margin-top: 0;
    margin-left: 20px;
}
.yangiliklar{
    font-family: 'Rubik';
    font-weight: 400;
}
.data-time{
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-left: 20px;
}
.mega-news{
    width: 380px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 20px;
    background-color: rgb(185, 185, 185);
}
.mega-news p{
    color: rgb(79, 77, 77);
}
.mega-news img{
    margin-right: 3px;
    margin-left: 8px;
    
}
.mega-news hr{
    height:4px;
    background-color: rgb(183, 178, 178);
}
.mega-news h2{
    font-family: 'Rubik';
    font-weight: 400;
    
}
.ultra-news{
    height: 880px;
}
.black-bg{
    height: 660px;
    border-top-left-radius:0 ;
    border-top-right-radius:0 ;
    background-color: black;
}
.mega-news h2{
    margin-top: 0;
    margin-bottom: 3px;
}
.mega-news h3{
    margin-top: 5px;
    margin-bottom: 8px;
}
.data{
    display: flex;
    align-items: center;
}
.news-cards{
    width: 380px;
}
.mega-news__button{
    font-family: 'Rubik';
    font-weight: 400;
    padding: 20px;
    margin-left: 380px;
    width: 300px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 8px;
    font-size: x-large;
    color: white;
    border: 1px solid transparent;
    background-color: rgb(61, 61, 163);
}
.footer__header{
    display:flex;
    width: 1440px;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
    background-color: rgb(226, 226, 226);
}
.footer__header h2 {
    font-family: 'Rubik';
    color:  rgb(61, 61, 163);
    font-weight: 400;
}
.footer__header h3{
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 24px;
}
.footer__header span{
    color: black;
    text-transform: uppercase;
}
.browsers{
    display: flex;
}
.footer-main__head{
    justify-content: space-between;
}
.footer__main{
    padding: 30px;
}
.footer__button{
    display: flex;
    align-items: center;
    font-family: 'Rubik';
    font-weight: 400;
    padding:8px;
    border-radius: 5px;
    text-decoration: none;
    color: blue;
    background-color: #fff;
}
.footer-end{
    display: flex;
    
}
.footer-end h2,h3{
    font-family: 'Rubik';
    font-weight: 400;
    color: #fff;
}
.footer-end ul,li{
    list-style: none;
    font-family: 'Rubik';
    font-weight: 400;
    color: white;
}
.logo{
    text-align: center;
    font-family: 'Rubik';
    font-weight: 300;
    border-radius: 5px;
    width: 270px;
    color: white;
    background-color: rgb(30, 75, 111);
}
.logo h2{
    margin-top: 5px;
    margin-bottom: 5px;
}
.footer__line{
    height: 3px;
    border: 1px solid transparent;
    background-color:rgb(140, 166, 187) ;
}
.footer-end__texts{
    margin-right: 70px;
}
.texts h3{
    color: rgb(57, 53, 53);
}
.telegramkanal{
    font-family: 'Rubik';
    font-weight: 400;
    color: #fff;
}
.kanallar{
    margin-left: 190px;
}
.telegram{
    display: flex;
    align-items: center;
}